{% extends 'layout/base.html' %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
    {% if profile.main_photo %}
  <img src="{{ profile.main_photo.url }}" class="card-img-top" alt="Картинка не найдена">
    {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{profile.nickname}}</h5>
    <p class="card-text">{{profile.description}}.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Имя: {{profile.firstname}}</li>
    <li class="list-group-item">Фамилия: {{profile.lastname}}</li>
    <li class="list-group-item">Местоположение: {{profile.location}}</li>
    <li class="list-group-item">Тип подписки: {{profile.get_sub_type_display}}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'registration-2' %}" class="card-link">Изменить информацию</a>
  </div>
</div>


{% endblock %}