{% extends 'layout/base.html' %}
{% block title %}Люди рядом{% endblock %}
{% block content %}
{% if profiles %}
{% for profile in profiles %}
<div class="card" style="width: 18rem;">
  {% if profile.main_photo %}
  <img src="{{ profile.main_photo.url }}" class="card-img-top" alt="Картинка не найдена">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{profile.nickname}}</h5>
    {% if profile.description %}
    <p class="card-text">{{profile.description}}.</p>
    {% else %}
    <p class="card-text">Нет описания.</p>
    {% endif %}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Имя: {{profile.firstname}}</li>
    <li class="list-group-item">Фамилия: {{profile.lastname}}</li>
    <li class="list-group-item">Местоположение: {{profile.location}}</li>
      {% for key, value in cities_and_distance.items %}
        {% if profile.location == key %}
      <li class="list-group-item">Расстояние от вас: {{value}} км</li>
        {% endif %}
      {% endfor %}

  </ul>
  <div class="card-body">
    <form action="{% url 'add_like' profile.nickname %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Нравится</button>
    </form>
    <br>
    <form action="{% url 'add_unlike' profile.nickname %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Не нравится</button>
    </form>
  </div>
</div>
{% endfor %}
{% else %}
<h2>Рядом с вами никого нет!</h2>
{% endif %}
{% endblock %}